<body style="background: #CCC; margin:0; padding:20px 0">
  <div style="background: #D5D5D5; max-width:600px; margin: 0 auto;">
    <div style="background: #0f171f; padding: 20px 0 20px 0; color: #e9b7ff; font-size: 18px; text-align: center;">
      Oracle BOT
    </div>
    <div class="main"
      style="background-color: #1F1F39; padding: 20px 30px 40px 30px; color: #fff; font-size: 16px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; text-align:left;">
      <h1 style="color: #e9b7ff;">{{task_name}} Run Failed</h1>
      <div style="color: #fff;">
        Dear admin,
        <br><br>
        {{content}}
        <br><br><br>
        Sincerely,<br>
        LL Validator BOT
      </div>
    </div>
    <div class="footer"
      style="background: #0f171f; padding: 20px 0 20px 0; color: #e9b7ff; font-size: 12px; text-align: center;">
      COPYRIGHT © 2022 Oracle. ALL RIGHTS RESERVED.
    </div>
  </div>
</body>
